In [2]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# ดาวน์โหลดข้อมูลที่จำเป็นสำหรับ NLTK (ถ้ายังไม่มี)
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('punkt_tab') # สำหรับเวอร์ชันใหม่ๆ

# 1. สร้าง Corpus ใหม่ (เปลี่ยนจากวิทยาศาสตร์ เป็นเรื่องผลไม้และสุขภาพ)
corpus = [
    'Apple is a nutritious fruit high in fiber and vitamin C',
    'Oranges are citrus fruits known for immune system support and vitamin C',
    'Bananas are rich in potassium and great for energy boost',
    'Strawberries are sweet red berries full of antioxidants',
    'Regular exercise and a healthy diet prevent chronic diseases',
    'Running and swimming are good cardiovascular exercises for health',
    'Dark chocolate in moderation can provide antioxidants'
]

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\realr\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\realr\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\realr\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [3]:
vectorizer = TfidfVectorizer()
x = vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names_out())
print(x.shape)

['and' 'antioxidants' 'apple' 'are' 'bananas' 'berries' 'boost' 'can'
 'cardiovascular' 'chocolate' 'chronic' 'citrus' 'dark' 'diet' 'diseases'
 'energy' 'exercise' 'exercises' 'fiber' 'for' 'fruit' 'fruits' 'full'
 'good' 'great' 'health' 'healthy' 'high' 'immune' 'in' 'is' 'known'
 'moderation' 'nutritious' 'of' 'oranges' 'potassium' 'prevent' 'provide'
 'red' 'regular' 'rich' 'running' 'strawberries' 'support' 'sweet'
 'swimming' 'system' 'vitamin']
(7, 49)

In [4]:
vectorizer = TfidfVectorizer()
x = vectorizer.fit_transform(corpus)

vector = x
df1 = pd.DataFrame(vector.toarray(), columns=vectorizer.get_feature_names_out())
df1

,and,antioxidants,apple,are,bananas,berries,boost,can,cardiovascular,chocolate,...,red,regular,rich,running,strawberries,support,sweet,swimming,system,vitamin
0,0.197255,0.000000,0.365547,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.303435
1,0.181255,0.000000,0.000000,0.206919,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.00000,0.000000,0.00000,0.000000,0.335897,0.000000,0.00000,0.335897,0.278823
2,0.194748,0.000000,0.000000,0.222323,0.360902,0.000000,0.360902,0.000000,0.00000,0.000000,...,0.000000,0.00000,0.360902,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
3,0.000000,0.312219,0.000000,0.231702,0.000000,0.376128,0.000000,0.000000,0.00000,0.000000,...,0.376128,0.00000,0.000000,0.00000,0.376128,0.000000,0.376128,0.00000,0.000000,0.000000
4,0.199841,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.37034,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
5,0.201466,0.000000,0.000000,0.229991,0.000000,0.000000,0.000000,0.000000,0.37335,0.000000,...,0.000000,0.00000,0.000000,0.37335,0.000000,0.000000,0.000000,0.37335,0.000000,0.000000
6,0.000000,0.333573,0.000000,0.000000,0.000000,0.000000,0.000000,0.401854,0.00000,0.401854,...,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000

In [5]:
print(stopwords.words('english'))
stop_words = nltk.corpus.stopwords.words('English')

['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', "he'd", "he'll", 'her', 'here', 'hers', 'herself', "he's", 'him', 'himself', 'his', 'how', 'i', "i'd", 'if', "i'll", "i'm", 'in', 'into', 'is', 'isn', "isn't", 'it', "it'd", "it'll", "it's", 'its', 'itself', "i've", 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she'd", "she'll", "she's", 'should', 'shouldn', "shouldn't", "should've", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', "they'd", "they'll", "they're", "they've", 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', "we'd", "we'll", "we're", 'were', 'weren', "weren't", "we've", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", 'your', "you're", 'yours', 'yourself', 'yourselves', "you've"]

In [6]:
# ฟังก์ชันตัดคำ (Tokenization) [อ้างอิง: 30-32]
def get_tokenized_list(doc_text):
    tokens = nltk.word_tokenize(doc_text)
    return tokens

# ฟังก์ชันลดรูปคำ (Stemming) [อ้างอิง: 34-39]
def word_stemmer(token_list):
    ps = nltk.stem.PorterStemmer()
    stemmed = []
    for words in token_list:
        stemmed.append(ps.stem(words))
    return stemmed

In [7]:
# ฟังก์ชันลบ Stopwords [อ้างอิง: 41-46]
def remove_stopwords(doc_text):
    cleaned_text = []
    for words in doc_text:
        if words.lower() not in stop_words: 
            cleaned_text.append(words)
    return cleaned_text

In [8]:
doc_text = get_tokenized_list(corpus[2])
print("WORD TOKENS:")
print(doc_text)
doc_text = remove_stopwords(doc_text)
print("\nAFTER REMOVING STOPWORDS:")
print(doc_text)
print("\nAFTER PERFOMING THE WORD STEMMING::")
doc_text = word_stemmer(doc_text)
doc_text

WORD TOKENS:
['Bananas', 'are', 'rich', 'in', 'potassium', 'and', 'great', 'for', 'energy', 'boost']

AFTER REMOVING STOPWORDS:
['Bananas', 'rich', 'potassium', 'great', 'energy', 'boost']

AFTER PERFOMING THE WORD STEMMING::

['banana', 'rich', 'potassium', 'great', 'energi', 'boost']

In [9]:
cleaned_corpus = []
for doc in corpus:
    tokens = get_tokenized_list(doc)
    doc_text = remove_stopwords(tokens)
    doc_text = word_stemmer(doc_text)
    doc_text = ' '.join(doc_text) 
    cleaned_corpus.append(doc_text)
cleaned_corpus

['appl nutriti fruit high fiber vitamin c',
 'orang citru fruit known immun system support vitamin c',
 'banana rich potassium great energi boost',
 'strawberri sweet red berri full antioxid',
 'regular exercis healthi diet prevent chronic diseas',
 'run swim good cardiovascular exercis health',
 'dark chocol moder provid antioxid']

In [10]:
doc_vector = vectorizer.transform(cleaned_corpus)
print(vectorizer.get_feature_names_out())

['and' 'antioxidants' 'apple' 'are' 'bananas' 'berries' 'boost' 'can'
 'cardiovascular' 'chocolate' 'chronic' 'citrus' 'dark' 'diet' 'diseases'
 'energy' 'exercise' 'exercises' 'fiber' 'for' 'fruit' 'fruits' 'full'
 'good' 'great' 'health' 'healthy' 'high' 'immune' 'in' 'is' 'known'
 'moderation' 'nutritious' 'of' 'oranges' 'potassium' 'prevent' 'provide'
 'red' 'regular' 'rich' 'running' 'strawberries' 'support' 'sweet'
 'swimming' 'system' 'vitamin']

In [11]:
df1 = pd.DataFrame(doc_vector.toarray(), columns=vectorizer.get_feature_names_out())
df1

,and,antioxidants,apple,are,bananas,berries,boost,can,cardiovascular,chocolate,...,red,regular,rich,running,strawberries,support,sweet,swimming,system,vitamin
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.000000,0.432182
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.461804,0.00000,0.0,0.461804,0.383337
2,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.00000,0.0,...,0.00000,0.0,0.5,0.0,0.0,0.000000,0.00000,0.0,0.000000,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.57735,0.0,0.0,0.0,0.0,0.000000,0.57735,0.0,0.000000,0.000000
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.00000,0.5,0.0,0.0,0.0,0.000000,0.00000,0.0,0.000000,0.000000
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.57735,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.000000,0.000000
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.000000,0.000000

In [12]:
query = 'vitamin C and antioxidants fruits' 
query_tokens = get_tokenized_list(query)
query_tokens = remove_stopwords(query_tokens)
q = []
for w in word_stemmer(query):
    q.append(w)
q = ' '.join(q)
q
query_vector = vectorizer.transform([q])
df1 = pd.DataFrame(query_vector.toarray(), columns=vectorizer.get_feature_names_out())
df1

,and,antioxidants,apple,are,bananas,berries,boost,can,cardiovascular,chocolate,...,red,regular,rich,running,strawberries,support,sweet,swimming,system,vitamin
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
cosineSimilarities = cosine_similarity(doc_vector, query_vector).flatten()

In [14]:
related_docs_indices = cosineSimilarities.argsort()[:-10:-1]
print (related_docs_indices)

for i in related_docs_indices:
    data = [cleaned_corpus[i]]
    print(data)

[6 5 4 3 2 1 0]
['dark chocol moder provid antioxid']
['run swim good cardiovascular exercis health']
['regular exercis healthi diet prevent chronic diseas']
['strawberri sweet red berri full antioxid']
['banana rich potassium great energi boost']
['orang citru fruit known immun system support vitamin c']
['appl nutriti fruit high fiber vitamin c']